fastapi
uvicorn
python-multipart
pillow

# ---- FORCE CPU-ONLY TORCH ----
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
torchvision==0.17.2

# YOLOv8
ultralytics==8.1.34

# Headless OpenCV
opencv-python-headless
